<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="instanceOIN" value="0000000700012TB34567" />
    <add key="certificateDnsIdentity" value="testnvclient02"/>
    <add key="certificateFileName" value="testnvclient02.pfx"/>
    <add key="certificatePassword" value="c0;Cb7}/1#"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="True" bypassonlocal="False" />
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SchoolIDBehavior">
          <clientCredentials>
            <clientCertificate/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="SchoolIDSoapBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport
            maxReceivedMessageSize="524288000"
            requireClientCertificate="true"
            authenticationScheme="Anonymous" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint
        address="https://service-t.id.school/eck/ws/201703"
        binding="customBinding"
        bindingConfiguration="SchoolIDSoapBinding"
        contract="SchoolID"
        behaviorConfiguration="SchoolIDBehavior"
        name="SchoolIDSoap10">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>