@{
    ViewBag.Title = "Home Page";    
}

<div>
    <h1>Hash Result</h1>
    <p">Output of the hash example (Used arguments: N:16384, r:8, p:1, passwd:secret, salt:rktYml0MIp9TC9u6Ny6uqw==)</p>
    <p>Base64 notation: @ViewBag.Base64Hash</p>
    <p>Hexadecimal notation: @ViewBag.HexHash</p>
</div>