<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="instanceOIN" value="00000007123456789012" />
    <add key="certificateDnsIdentity" value="testnvclient02"/>
    <add key="certificateFileName" value="testnvclient02.pfx"/>
    <add key="certificatePassword" value="c0;Cb7}/1#"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="True" bypassonlocal="False" />
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SchoolIdBehavior">          
          <clientCredentials>
            <clientCertificate/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="SchoolIDSoapBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport 
            maxReceivedMessageSize="524288000" 
            requireClientCertificate="true" 
            authenticationScheme="Anonymous" />
        </binding>
      </customBinding>     
    </bindings>
    <client>
      <endpoint 
        address="https://nummervoorziening.192.168.38.10.xip.io/service/201509" 
        binding="customBinding"
        bindingConfiguration="SchoolIDSoapBinding" 
        contract="SchoolID"
        behaviorConfiguration="SchoolIdBehavior"
        name="SchoolIDSoap10" />
    </client>
  </system.serviceModel>
</configuration>