<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SchoolIDSoapBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--endpoint address="https://id.school/eck/" binding="basicHttpBinding"
                bindingConfiguration="SchoolIDSoapBinding" contract="SchoolID"
                name="SchoolIDSoap10" /-->
      <endpoint address="https://nummervoorziening.192.168.38.10.xip.io/service/201509" binding="basicHttpBinding"
                bindingConfiguration="SchoolIDSoapBinding" contract="SchoolID"
                name="SchoolIDSoap10" />
    </client>
  </system.serviceModel>
</configuration>